.boxes {
  display: flex;
}

.box {
  /* width: 350px; */
  margin: 20px;
  /* height: 180px; */
  border-radius: 10px;
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 258px;
  background-color: #ffffff;
  height: 134px;
  border-radius: 8px;
  border: 1px solid;
}
.title {
  font-size: 19px;
  font-weight: bold;
}
.value {
  font-size: 40px;
  font-weight: bolder;
}
