.filter {
  width: 50%;
  /* border: 2px solid; */
  padding-right: 20px;
  padding-top: 10px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: center; */
}
.desc {
  padding: 0 10px;
  font-size: 14px;
  letter-spacing: 0.2px;
}
.toggle {
  display: flex;
  align-items: center;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
