.items {
  height: 850px;
  border: 2px solid #dfe0eb;
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
}
.item-title {
  font-family: Mulish;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  margin-top: 10px;
}
.tab {
  padding: 20px 0;
  /* border: 2px solid; */
}
.tab table {
  width: 100%;
}
.item-btns {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  margin-right: 20px;
  /* width: 50%; */
}
.item-img {
  width: 90px;
  height: 100px;
  /* width: 50%; */
}
.section {
  /* border: 1px solid; */
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: space-around;
}
.i-btn {
  width: 80px;
  height: 35px;
  border-radius: 100px;
  font-weight: 700;
  border: none;
  font-size: 12px;
  line-height: 13.81px;
  letter-spacing: 0.5px;
  margin: 3px;
  color: #ffffff;
}
.i-b1 {
  background-color: #ed8e37;
}
.i-b2 {
  background-color: #452983;
}
.t-img img {
  width: 30px;
  height: 33.75px;
}
.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  justify-content: space-around;
  /* margin: auto; */
}
.t-desc,
.time,
.l-point,
.c-web {
  color: #0040ff;
  font-size: 14px;
}
.time-date {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.location {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.c-details {
  width: 260px;
}
.services {
  text-align: left;
}
.date,
.time,
.l-desc,
.l-point,
.cname,
.c-web,
.services,
.type,
.t-desc {
  /* width: 100px; */
  padding: 7px;
}
.date,
.l-desc,
.cname {
  font-size: 17px;
}
td {
  /* width: 1%; */
  /* margin: 10px; */
  border-top: 2px solid #dfe0eb;
  border-bottom: 2px solid #dfe0eb;
}
.services {
  width: 250px;
}
th {
  text-align: left;
  padding: 10px 0;
}
.header {
  padding: 20px 0;
}
